[submodule "build/vcpkg"]
	path = build/vcpkg
	url = https://github.com/Microsoft/vcpkg
[submodule "external/libalgebra"]
	path = external/libalgebra
	url = git@github.com:terrylyons/libalgebra.git
	branch = develop
[submodule "pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = v2.10.0
