include README.md
include LICENSE
include AUTHORS
include esig/VERSION
include esig/ERROR_MESSAGE
include src/*.h
include src/*.c
include src/*.cpp
include libalgebra/addons/*.h
include libalgebra/libalgebra/*.h
exclude .DS_Store
