include README.md
include LICENSE
include AUTHORS
include esig/VERSION
include src/*.h
include src/*.c
include src/*.cpp
include libalgebra/addons/*.h
include libalgebra/libalgebra/*.h
include tools/*.py
exclude .DS_Store
